/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
}

h2{
    font-size: 30px;
}

h4{
    font-size: 20px;
    line-height: 180%;
}

h5{
    font-size: 12px;
}
p{
    font-size: 14px;
}
.flex{
    display: flex;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.underline{
    text-decoration: underline;
}

.blue{
    color: rgb(0, 100, 249);
}

button{
    color: white;
    background-color: rgb(0, 100, 249);
    border: 0;
    padding: 5px 10px;
    /* transition: background-color 0.2s linear; */
    cursor: pointer;
}


button:hover{
    background-color:  rgba(0, 99, 249, 0.6);;
}

.container-total{
    max-width: 1200px;
    margin: 0 auto;
}

.center-box
{
    margin: 0 auto;
    max-width: 1024px;
}
/* regole header */

header{
    background-color: white;
    position: fixed;
    height: 80px;
    width: 100vw;
    padding-right: 20px;
}

header > menu.flex{
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
    /* width: 100%;
    height: 100%; */
    max-width: 1200px;
    font-size: 14px;
    margin: 0 auto;
}

header > menu > ul{
    height: 100%;
}

header > menu ul{
    align-items: center;
}

header > menu li{
    height: 80px;
}

header > menu a{
    color: gray;
    padding: 0 15px;
    display: inline-block;
    height: 80px;
    /* background-color: brown; */
    line-height: 80px;
}

#logo{
    padding-top: 7px;
}

    /* interactions header */

header a.menu:hover{
    background-color: rgba(0, 99, 249, 0.1);
    border-bottom: 2px solid rgb(0, 100, 249);
}


/* main */

.centre-box.content{
    width: 55%;
}

    /* jumbotron */
#jumbotron{
    background-color: rgb(176, 209, 229);
    width: 100vw;
    height: 600px;
    padding-top: 130px;
}

.center-box.jumbotron{
    width: 60%;
}

main #jumbotron h1{
    font-size: 60px;
    margin-bottom: 50px;
}
#jumbo-txt{
    flex-basis: 40%;
}
#jumbo-img{
    flex-basis: 60%;
    height: 300px;
}
main #jumbo-img img{
    
    max-height: 100%;
    
    
}

#jumbo-txt{
    max-height: 100%;
}

#jumbotron button{
    margin: 20px 0;
}

#jumbotron i{
    font-size: 30px;
    margin: 50px 0 10px 0;
    color: black;
}
/* interaction jumbotron */

#jumbotron i:hover{
color: white;
}

    /* piani */

.center-box.piani{  
    padding:60px 0;
    margin-bottom: 60px;
}

.piani .scelta-fatturazione{
   
    align-items: center;
    margin: 50px 0 40px 0;
}

.piani .circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    outline-offset: -3px;
    border: 1px solid gray;
}


.scelta-fatturazione span{
    margin-right: 30px;
    margin-left: 5px;
}
.piani .elenco-piani{
    justify-content: space-between;
}
.piani .scheda-piano{
    flex-basis: calc(100%/3 - 20px);
    border: 1px solid rgb(208, 208, 211);
}
.scheda-piano .testa-scheda{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid rgb(208, 208, 211);;
}
.scheda-piano .corpo-scheda{
    padding: 15px 0;
    width: 85%;
    margin: 0 auto;
}


.corpo-scheda ul{
    padding: 30px 0;
}

.corpo-scheda ul > li{
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

.scheda-piano .corpo-scheda button{
    width: 100%;
    padding: 10px 0;
}

.corpo-scheda li > i{
    line-height: 140%;
}


.acquista-ora > span{
    display: inline-block;
    padding: 30px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(208, 208, 211);;
}

.piani .scheda-bottom{
    margin-top: 40px;
}

.scheda-bottom .corpo-scheda-bottom{
    padding: 15px 0;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;

}
.corpo-scheda-bottom > div{
    flex-basis: calc((100%/3)*2);
}

.corpo-scheda-bottom button{
    padding: 10px 25px;
}
.corpo-scheda-bottom p{
    margin-top: 30px;
    margin-bottom: 20px;
}



/* interaction piani */

.circle:focus{
    outline: 4px solid rgb(0, 99, 249);
  }




/* regole footer */

footer{
    background-color: black;
    color: white;
    padding: 50px 0;

}
.center-box.footer{
    width: 60%;
}

    /* footer top */
footer div.flex{
    justify-content: space-between;
    margin-bottom: 100px;
}

footer li{
    line-height: 180%;
}

footer ul li:first-child{
    font-size: 24px;
    font-weight: bold;
    line-height: 250%;
}

footer a{
    color: white;
}


    /* footer bottom */

    footer div.lingua{
        color: lightgrey;
        border-top: 2px solid lightgrey;
        display: inline-block;
        padding-top: 50px;
    }

    footer select{
        background-color: black;
        border: 0;
        color: lightgrey;
    }

    /* interactions footer */

    footer a:hover{
        text-decoration: underline;
    }



/* debug */

